* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #E4E5EA;
}

body {
  background-color: #000000ed;
  font-family: Inter, serif;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
